@import url('https://fonts.googleapis.com/css?family=Merriweather:700i,900i|Open+Sans:300,400,600,700,800');
* { 
	box-sizing: border-box;
}
.row:before,
.row:after {
	content: " ";
	clear: both;
	display: block;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 100%;
	margin: 0 auto;
	/*max-width: 1800px;*/
}
[class*="col-"] {
	float: left;
	min-height: 0.1vh;
	text-align: center;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*jumbotron*/
.jumbo {
	background-image: url("https://i.imgur.com/kKkApVV.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	/*border: 2px solid orange;*/
}
.jumbo > p {
	position: absolute;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	transform: rotate(-90deg);
	text-transform: uppercase;
	left: -2vh;
	top: 50vh;
}

.jumbo > p > span {
	color: #FFF;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	transform: rotate(-90deg);
	padding-right: 5%;
	text-transform: uppercase;
}
.circle {
	width: 41px;
	height: 41px;
	border-radius: 50%;
	position: relative;
	box-sizing: border-box;
	border: 3px solid #FFF;
	margin-left: 20vw;
	margin-top: 2%;
}
.circle:before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: 3px solid #FFF;
	border-radius: 50%;
	background: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.circle:after {
	position: relative;
	content: "take";
	font-family: Merriweather;
	color: #FFF;
	font-size: 20.8px;
	font-weight: 800;
	font-style: italic;
	top: 10%;
	left: 125%;
}
.jumbo_ h1 {
	color: #FFF;
	font-size: 60px;
	font-weight: 300;
	text-align: left;
	padding-left: 20vw;
	margin-top: 30vh;
	margin-bottom: 0;
}
.jumbo_ p {
	color: #FFF;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-left: 20vw;
}

/*start something new*/
.sth_new {
	margin: 3% auto;
}
.new_1 h1 {
	color:  #222626;
	font-size: 35px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	padding-left: 20vw;
} 
.new_1 p {
	color:  #959595;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-left: 20vw;
	padding-right: 2vw;
}
.new_2 {
	position: relative;	
}
.new_2 img {
	height: 85vh;
	position: absolute;
	top: -65vh;
	left: 15px;
}
.new_2_text {
	margin-top: 15vh;
}
.new_2 p {
	color:  #959595;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-right: 18vw;	
}
.new_2 > p {
	padding-top: 12vh;	
	padding-bottom: 0;
}
.new_2 > p:last-child {
	padding-top: 0;	
	padding-bottom: 0;
}

/*gallery*/
.gallery {
	margin: 3% auto;
}
.gallery_ {
	padding-left: 20vw;	
}
.gallery_ [class*="col-"] {
	height: 25vh;
	position: relative;
}
.gallery_ h2 {
	color: #FFF;
	font-size: 30px;
	font-weight: 300;
	text-align: left;	
}
.gallery_ p {
	color: #FFF;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;	
}
.gal_1 {
	background: #f5989d;
	padding: 0 2%;
}
.gal_2 {
	background: #615f7d;
	padding: 0 2%;
}
.gal_3 {
	background-image: url("https://i.imgur.com/Gv96paq.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 2%;	
}
.gal_4 {
	background: #bd8cbf;
	padding: 0 2%;
}
.gal_5 {
	background-image: url("https://i.imgur.com/ljVoRUt.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 2%;
}
.gal_6 {
	background: #82ca9c;
	padding: 0 2%;
}
.gal_7 {
	background-image: url("https://i.imgur.com/2rY6Z6L.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 2%;	
}
.gallery_ a {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	position: absolute;
	top: 20vh;
	left: 1.6vw;
}
.gallery_ a:after {
	content: "\f178";	
	font-family: 'FontAwesome';
	color: #FFF;
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	bottom: 0.1vh;
	left: 110%;
}
i.fa-heart-o {
	position: absolute;
	top: 20.5vh;
	right: 20px;
	color: #FFF;
}

/*details*/

.details {
	margin: 3% auto;
	margin-top: 5%;
}
.details>p:first-child {
	position: absolute;
	color: #b8b8b8;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	transform: rotate(-90deg);
	text-transform: uppercase;
	margin-left: 0vw;
	margin-top: 3vh;
	
}
._details {
	padding-left: 20vw;
	padding-right: 18vw;
}
._details h1 {
	color:  #222626;
	font-size: 35px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;	
}
._details h4 {
	color:  #66676d;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;	
}
._details p {
	color:  #959595;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-right: 2vw;
}
.sustainability {
	padding-right: 0;
}

/*More Power*/

.morePower {
	margin: 3% auto;
	margin-bottom: 0;
}
.mP {
	background-image: url("https://i.imgur.com/dj5hStJ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;	
	position: relative;
}
.mP h1 {
	color: #FFF;
	font-size: 60px;
	font-weight: 300;
	text-align: left;
	position: absolute;
	padding-left: 20vw;
	top: 35vh;
}
.mP p {
	color: #FFF;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;	
	position: absolute;
	padding-left: 20vw;
	top: 55vh;
}
.mP a {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	position: absolute;
	top: 70vh;
	left: 20vw;	
	position: absolute;
}
.mP a:after {
	content: "\f178";	
	font-family: 'FontAwesome';
	color: #FFF;
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	bottom: 0.1vh;
	left: 110%;
}

/*reasons*/
.reasons {
	background: #82ca9c;
	padding-top: 8vh;
	padding-bottom: 8vh;
	position: relative;
}
.reasons>p:first-child {
	position: absolute;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	transform: rotate(-90deg);
	text-transform: uppercase;
	margin-left: 0vw;
	margin-top: 10vh;
}
._reasons {
	padding-left: 20vw;
	padding-right: 18vw;
}
.reasons h2 {
	color: #FFF;
	font-size: 35px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
}
._reasons h4 {
	color: #FFF;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
}
._reasons p {
	color: #FFF;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-right: 2vw;
}

/*buy*/

.buy {
	background-color: #f6f7fa;	
}
.buy p:first-child {
	position: absolute;
	color: #b8b8b8;;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	transform: rotate(-90deg);
	text-transform: uppercase;
	margin-left: 0vw;
	margin-top: 10vh;	
}
._buy {
	padding: 5vh 20vw;
}
.btn-small {
	color: #FFF;
	font-size: 11px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;	
	border-radius: 5px;
	background-color: #e1e1e1;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
}
.btn-large {
	color: #FFF;
	font-size: 13px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	border-radius: 3px;
	background-color: #82ca9c;
	width: 151px;
	height: 47px;
	float: left;
	margin-left: 5%;
	margin-bottom: 10%;
	cursor: pointer;
}
._buy h2 {
	color: #2e3b4e;
	font-size: 30px;
	font-weight: 300;
	line-height: 40px;
	padding-top: 10%;
	text-align: left;
	margin-left: 5%;
	margin-top: 1vh;
}
._buy p {
	color: #8297a7;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	margin-left: 5%;
	padding-right: 10%;
}
.solo, .team {
	position: relative;	
	height: 40vh;
}
.solo i, .team i {
	position: absolute;
	bottom: 6vh;
	left: 5%;
	color: #c5c5c5;
	cursor: pointer;
}
i.fa-windows {
	padding-left: 45px;
}
.solo:hover, .team:hover {
	background: #FFF;
	box-shadow: 5px 5px 20px #444;
}
.solo:hover .btn-small {
	background: #bd8cbf;	
}
.team:hover .btn-small {
	background: #bd8cbf;	
}


/*footer*/
.footer {
	background-color: #192431;
	height: auto;	
}
._footer {
	padding-left: 20vw;
	padding-right: 8vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
._footer p {
	color: #f6f7fa;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
}
.list {
	padding-top: 5vh;	
}
._footer ul {
	margin: 0;
	padding: 0;	
}
._footer ul li {
	color: #f6f7fa;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	list-style-type: none;
}
.stay p {
	padding-left: 8%;	
}
input {
	border-radius: 2px;
	background-color: #f6f7fa;
	height: 40px;
	float: left;
}
input[type="email"] {
	width: 400px;	
	margin-right: 0;
	margin-left: 8%;
	border: none;
	padding: 5px;
}
input[type="submit"] {
	border: none;
	background-color:  #82ca9c;
	margin: 0;
	color: white;
	font-weight: bold;
	width: 60px;
	cursor: pointer;
}
.stay  p:last-child {
	color:  #56697f;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;	
}

@media (min-width: 1441px) and (max-width: 1650px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    /*gallery*/
	.gallery_ [class*="col-"] {
		height: 35vh;
	}
	.gallery_ a {
		top: 28vh;
	}
	i.fa-heart-o {
		top: 28.5vh;
	}

	/*mP*/
	.mP h1 {
		top: 15vh;
	}
	.mP p {
		top: 40vh;
	}
	.mP a {
		top: 60vh;
	}

	/*buy*/
	.solo, .team {
		height: 50vh;
	}
	.solo i, .team i {
		top: 45vh;
	}
}

@media (min-width: 992px) and (max-width: 1440px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    /*jumbo*/
	.jumbo > p {
		left: -4vh;
		top: 70vh;
	}
	.jumbo_ h1 {
		margin-top: 30vh;
	}

	/*start something new*/
	.new_2 img {
		left: 5px;
    }

	/*gallery*/
	.gallery_ [class*="col-"] {
		height: 45vh;
	}
	.gallery_ a {
		top: 38vh;
	}
	i.fa-heart-o {
		top: 38.5vh;
	}
	
	/*mP*/
	.mP h1 {
		top: 20vh;
	}
	.mP p {
		top: 55vh;
	}
	.mP a {
		top: 75vh;
		left: 20vw;	
	}

	/*buy*/
	.solo, .team {
		height: 60vh;
	}
	.solo i, .team i {
		top: 50vh;
	}

	/*footer*/
	input[type="email"] {
		width: 220px;	
	}
	input[type="submit"] {
		width: 40px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
   [class*="col-"] {
		float: none;
	}
	
	/*jumbo*/
	.jumbo {
		border-top: 1px solid #FFF;
	}

	/*start something new*/
	.new_2 img {
		display: none;
	}
	.new_1, .new_2 {
		padding-right: 2vw;
	}
	.new_2_text {
		margin-top: 2vh;
	}
	.new_2 {
		padding-left: 20vw;	
	}
	
	/*gallery*/
	.gallery_ h2 {
		padding-top: 25px;
	}

	.gallery_ [class*="col-"] {
		height: 25vh;
		width: 80%;
	}
	.gallery_ a {
		top: 18vh;
	}
	i.fa-heart-o {
		top: 18.5vh;
	}
	
	/*buy*/
	.solo, .team {
		height: 40vh;
	}
	.solo i, .team i {
		top: 35vh;
	}

	/*footer*/
	input[type="email"] {
		width: 300px;
		margin-left: 0;
		float: left;
	}
	input[type="submit"] {
		float: left;
	}
	.stay p:first-child, .stay p:last-of-type {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
    /* For mobile, tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
   [class*="col-"] {
		float: none;
	}
	
	/*jumbo*/
	.jumbo {
		border-top: 1px solid #FFF;
	}
	.jumbo > p {
		display: none;
	}
	.jumbo > p > span {
		display: none;
	}

	/*start something new*/
	.new_2 img {
		display: none;
	}
	.new_1, .new_2 {
		padding-right: 2vw;
	}
	.new_2_text {
		margin-top: 2vh;
	}
	.new_2 {
		padding-left: 20vw;	
	}
	
	/*gallery*/
	.gallery_ h2 {
		padding-top: 25px;
	}

	.gallery_ [class*="col-"] {
		height: 45vh;
		width: 90%;
	}
	.gallery_ a {
		top: 35vh;
	}
	i.fa-heart-o {
		top: 35.5vh;
	}
	
	/*mP*/
	.mP h1 {
		top: 20vh;
		font-size: 35px;
	}
	.mP p {
		top: 50vh;
	}
	.mP a {
		top: 85vh;	
	}

	/*buy*/
	.solo, .team {
		height: 65vh;
	}
	.solo i, .team i {
		top: 55vh;
	}

	/*footer*/
	input[type="email"] {
		width: 200px;
		margin-left: 0;
		float: left;
	}
	input[type="submit"] {
		float: left;
		width: 35px;
	}
	.stay p:first-child, .stay p:last-of-type {
		padding-left: 0;
	}
}

@media (max-width: 425px) {
    /* For mobile */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
   [class*="col-"] {
		float: none;
	}
	
	/*jumbo*/
	.jumbo {
		border-top: 1px solid #FFF;
	}
	.circle {
		margin-left: 8vw;
	}
	.jumbo_ h1 {
		padding-left: 8vw;
		margin-top: 20vh;
	}
	.jumbo_ p {
		padding-left: 8vw;
	}

	/*start something new*/
	.new_1 h1 {
		padding-left: 8vw;
	} 
	.new_1 p {
		padding-left: 8vw;
		padding-right: 5vw;
	}
	.new_2 img {
		display: none;
	}
	.new_1, .new_2 {
		padding-right: 5vw;
	}
	.new_2_text {
		margin-top: 2vh;
	}
	.new_2 {
		padding-left: 8vw;	
	}
	
	/*gallery*/
	.gallery_ {
		padding-left: 8vw;	
	}
	.gallery_ h2 {
		padding-top: 25px;
	}
	.gallery_ [class*="col-"] {
		height: 55vh;
		width: 95%;
	}
	.gallery_ a {
		top: 48vh;
	}
	i.fa-heart-o {
		top: 48.5vh;
	}
	
	/*details*/
    .details>p:first-child {
		display: none;	
	}
	._details {
		padding-left: 8vw;
		padding-right: 5vw;
	}
	
	/*mP*/
	.mP h1 {
		top: 15vh;
		font-size: 35px;
		padding-left: 8vw;
	}
	.mP p {
		top: 50vh;
		padding-left: 8vw;
	}
	.mP a {
		top: 88vh;	
		left: 8vw;
	}
	
	/*reasons*/
 	.reasons>p:first-child {
		display: none;
	}
	._reasons {
		padding-left: 8vw;
		padding-right: 5vw;
	}

	/*buy*/
	.buy p:first-child {
		display: none;	
	}
	._buy {
		padding: 5vh 5vh 8vw 5vw;
	}
	.solo, .team {
		height: 85vh;
	}
	.solo i, .team i {
		top: 75vh;
	}

	/*footer*/
	._footer {
		padding-left: 8vw;
		padding-right: 5vw;
		}
	input[type="email"] {
		width: 150px;
		margin-left: 0;
		float: left;
	}
	input[type="submit"] {
		float: left;
		width: 30px;
	}
	.stay p:first-child, .stay p:last-of-type {
		padding-left: 0;
	}
}






